@import '../../../assets/variables/colors';
@import '../../../assets/variables/mixins';
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-flow: dense;
    @include laptop {
        grid-template-columns: repeat(3, 1fr);

    }
    @include mobile {
        grid-template-columns: repeat(2, 1fr);
    }
    @include mobileSM {
        grid-template-columns: repeat(1, 1fr);
    }
}