<div class="home">
    <div class="video">
        <video autoplay loop class="head-video" #video>
            <source src="../../../assets/images/video.mp4" type="video/mp4"/>
        </video>
        <div class="head-text container">
            <h1 class="welcome">Welcome to <span class="shop">MOTOSHOP</span></h1>
            <p class="about">Since its inception in 2016, Motoshop Armenia  has been a haven for motorcycle enthusiasts, offering a diverse range of bikes including the renowned Hayasa motorcycles. Nestled in the heart of Yerevan, Armenia, our shop has become synonymous with quality, reliability, and exceptional customer service.</p>

        </div>
        <div class="scroll">
            <span class="scroll-text">SCROLL DOWN</span>
            <img class="scroll-img" src="../../../assets/images/arrow.png" alt="">
        </div>
    </div>

    <div class="best container">
        <h1 class="title">Best Offers</h1>
        <mot-list>
            <mot-card/>
            <mot-card/>
            <mot-card/>
            <mot-card/>
            <mot-card/>
            <mot-card/>
            <mot-card/>
            <mot-card/>
        </mot-list>
   
    </div>
</div>