<div class="card">
    <div class="discount">
        <span class="percent">-15%</span>
    </div>
    <img src="../../../assets/images/yamaha.png" alt="" class="img">
    <div class="info">
        <div class="category">
            <div class="moto-name">Yamaha</div>
            <div class="items">
                <span class="strong">Category :</span>
                <span class="name">Sport</span>
            </div>
            <div class="items">
                <span class="strong">Product Country :</span>
                <span class="name">Japan</span>
            </div>
            <div class="items">
                <span class="strong">Horse power :</span>
                <span class="name">50</span>
            </div>
            <div class="items">
                <span class="strong">Year :</span>
                <span class="name">2024</span>
            </div>
            <div class="items pricing">
                <span class="strong">Price :</span>
                <span class="name price">
                    <span class="old">4500$</span>
                    <span class="new">3000$</span>
                </span>
            </div>
        </div>
    </div>
</div>