@import '../../../assets/variables/colors';
.info {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 20px;
    .numbers {
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        color: $white;
    }
}