$white: #ffffff;
$gold-gradient: linear-gradient(90deg, rgba(134, 77, 37, 1) 0%, rgba(239, 194, 176, 1) 50%, rgba(134, 77, 37, 1) 100%);
$brown: rgb(134, 77, 37);
$black: #000000;
$yellow: #ffcf00;
$black-transparent: #000000d1;
$border: rgb(115 115 115 / 20%);
$gray: #82828285;